### all ignore ###
/*
/.**

### not ignore ###
!/bin/
!/bin/**
!/ghostty/
!/ghostty/config
!/nvim/
!/nvim/**
!/p10k/
!/p10k/**
!/sheldon/
!/sheldon/**
!/tmux/
!/tmux/**
!/zsh/
!/zsh/**

/nvim/lazy-lock.json

/zsh/.zcompdump

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
